div.FooterContainer {
    background-size: 100% 100%;
    width          : 100vw;
    bottom         : 0;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    img.footerLogo {
        width    : 2.18rem;
        height   : .32rem;
        margin   : .43rem 0 .32rem 0;
        transform: translateX(-255%);
    }

    ul.footer_link_list {
        display: flex;

        li.footer_link_item {
            margin-right: .66rem;
            font-size   : .18rem;
            font-family : Source Han Sans CN;
            font-weight : 400;
            color       : #FFFFFF;
            line-height : .46rem;

            span.footer_link_title {
                margin-bottom: .26rem;
            }


            .footer_link {
                color  : #FFFFFF;
                display: block;
            }
        }

        li.footer_link_contact {
            font-size  : .18rem;
            font-family: Source Han Sans CN;
            font-weight: 400;
            color      : #FFFFFF;
            line-height: .46rem;
            padding-right: .41rem;
            span.footer_link_title {
                margin-bottom: .21rem;
            }

            p.home_decoration_consultation {
                font-size: .24rem;
            }

            p.company_address {}

            span {}

            .footer_link {
                color  : #FFFFFF;
                display: block;
            }
        }

        li.footer_codes {
            display    : flex;
            align-items: center;

            img.footer_code {
                width       : 1.28rem;
                height      : 1.28rem;
                margin-right: .16rem;
            }
        }
    }

    div.line {
        width     : 100vw;
        height    : .01rem;
        background: #797D80;
        margin    : .42rem 0 .47rem 0;
    }

    p.footer_copyright {
        font-size    : .16rem;
        font-family  : Source Han Sans CN;
        font-weight  : 400;
        color        : #DCDBDB;
        margin-bottom: .24rem;
        text-align   : center;
    }

    p.footer_disclaimers {
        font-size  : .16rem;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color      : #EAEAEA;
        text-align : center;
        padding-bottom: .5rem;

    }
}